body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container{
    width: 800px;
    margin: 0 auto;
}
#entrada{
    width: 600px;
    font-size: 20px;
    padding: 10px;
}
.resultado{
    border: 1px solid #000;
    padding: 20px;
}